  
<div class="styled-product">
  <p class="product-name">Lemone Juice</p>
  <button class="decrement-button">-</button>
  <p class="counter">0</p>
  <button class="increment-button">+</button>
</div>
  
<div class="styled-product">
  <p class="product-name">Sugar</p>
  <button class="decrement-button">-</button>
  <p class="counter">0</p>
  <button class="increment-button">+</button>
</div>

<div class="styled-product">
  <p class="product-name">Ice Cubes</p>
  <button class="decrement-button">-</button>
  <p class="counter">0</p>
  <button class="increment-button">+</button>
</div>



